.color-dots-container {
  position: relative;
  width: 100%;
  height: 420px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  overflow: hidden;
}

.dot-wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
}

.color-dot {
  position: absolute;
  width: 25px;
  height: 25px;
  /* border-radius: 35%; */
  transform: translate(-50%, -50%);
}

.line {
  position: absolute;
  height: 10px;
  left: 50%;
  top: 50%;
  transform-origin: left center;
  transition: width 0.8s cubic-bezier(0.2, 0.6, 0.3, 1),
              opacity 0.8s cubic-bezier(0.2, 0.6, 0.3, 1),
              transform 0.1s ease-out;
  width: 0;
  opacity: 0;
}

@media (max-width: 1200px) {
  .color-dots-container {
    height: 350px;
  }
  
  .color-dot {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 768px) {
  .color-dots-container {
    height: 280px;
  }
  
  .color-dot {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 480px) {
  .color-dots-container {
    width: 280px;
    height: 280px;
  }
  
  .color-dot {
    width: 15px;
    height: 15px;
  }
} 